.productContainer {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

@media (max-width: 976px) {
  .productContainer {  
    grid-template-columns: 33% 33% 33%;
  }
}

@media (max-width: 685px) {
  .productContainer {  
    grid-template-columns: 50% 50%;
  }
}



.productItem img {
  
  width: 100%;
  margin-bottom: 20px;

}