.productContainer {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

@media (max-width: 976px) {
  .productContainer {  
    grid-template-columns: 33% 33% 33%;
  }
}

@media (max-width: 685px) {
  .productContainer {  
    grid-template-columns: 50% 50%;
  }
}

.productItem {  
  border: 1px solid black;
  margin: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 200px;
}

.productItem img {
  
  width: 100%;
  margin-bottom: 20px;

}